*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

/* ==========================================================================
   App
   ========================================================================== */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  font-family: "Sen", sans-serif;
}

/* Header
   ========================================================================== */

.header__wrapper {
  height: 10%;
  width: 100%;

  display: flex;
  align-items: center;

  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__logo {
  font-weight: 800;
  font-size: 1.5em;

  color: lightblue;

  margin: 0 auto 0 1%;
  cursor: pointer;
}

.header__action {
  margin: 0 2% 0 0;

  cursor: pointer;
}

.header__action:hover {
  color: lightblue;
}
/* Home
   ========================================================================== */

.content__wrapper {
  height: 82%;
  width: 96%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1%;

  margin: 2%;
}

/* Add
   ========================================================================== */
.modal__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
.add__wrapper {
  height: 85%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;

  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.add__form {
  width: 84%;
  height: 84%;
  display: flex;
  flex-direction: column;

  margin: 8%;
}
.add__news-information {
  width: 100%;

  display: flex;
  flex-direction: row;

  margin: 0 0 3% 0;
}

.add__input-styling {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add__input-styling--error {
  background: #FFD3D3;
}

.add__input-styling--big {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add__input-styling--small {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.add__input-label {
  font-weight: 600;
  font-size: 1.2em;

  margin: 0 0 1.5% 0;
}

.add__input-label::after {
  content: " *";
  color: #C81D25;
}
.add__input {
  padding: 4%;
  margin: 0 3% 0 0;

  font-size: 0.85em;
  border-radius: 4px;

  border: 1px solid lightgray;
}

.add__textarea {
  resize: none;
  height: 100%;
  padding: 2%;
  margin: 0 1% 3% 0;

  border: 1px solid lightgray;

  font-size: 0.85em;
  border-radius: 4px;
}
.add__image-tldr-wrapper {
  height: 30%;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add__image {
  height: 75%;
  width: 36%;
  border: 1px solid lightgray;
  border-radius: 4px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3% 1% 0 0;

  cursor: pointer;
}

.add__image > .add__input-styling > label {
  font-size: 0.75em;
  font-weight: 300;
  cursor: pointer;
}

.add__file-input {
  display: none;
}

.add__file-name {
  color: lightblue;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 2%;
}

.add_button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add__button {
  width: 20%;
  padding: 2% 0;
  margin: 2% 1% 0 0;
  font-size: 1em;
  float: right;

  border-radius: 4px;
  color: black;
  background: lightblue;
  border: none;
  cursor: pointer;
}

.add__button--cancel {
  color: gray;
  background: white;
  border: 1px solid lightgray;
}

.add__button:disabled {
  color: gray;
  background: lightgray;
  cursor: not-allowed;
}

/* News
   ========================================================================== */

.news__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 4px;
  border: 1px solid #ffeeff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.news__wrapper:hover {
  cursor: pointer;
  border: 1px solid lightblue;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.news__wrapper--big {
  grid-row: span 2;
  grid-column: span 2;
  overflow: hidden;
}

.news__wrapper--vertical {
  grid-row: span 2;
  grid-column: span 1;
   overflow: hidden;
}

.news__wrapper--horizontal {
  grid-row: span 1;
  grid-column: span 2;
  align-items: flex-start;
   overflow: hidden;
}

.news__wrapper--seen {
  background-color: #E7EEF5;  
}

.news__image {
  margin: 4% 2%;
  object-fit: cover;
}
.news__title {
  font-size: 1.2em;
  margin: 1% 0;
}

.news__information {
  font-size: 0.8em;
}

.news__short {
  margin: 5% 0 0 0;
}

.news__image--big {
  height: 92%;
  width: 36%;
}

.news__text-wrapper--big {
  height: 92%;
  width: 54%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 4% 3%;
}

.news__text-wrapper--vertical {
  height: 92%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 4% 3%;
}

.news__image-wrapper--horizontal {
  height: 100%;
  width: 40%;

  display: flex;
 
  justify-content: flex-end;
}

.news__image--horizontal {
  height: auto;
  width: 80%;
  margin-right: 5%;
}

.news__text-wrapper--horizontal {
  height: 94%;
  width: 54%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 2% 3%;
}

.news__title--horizontal {
  font-size: 1em;
}

/* News
   ========================================================================== */

.article__wrapper {
  height: 82%;
  width: 96%;

  margin: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.article__title {
  margin-bottom: 0.5%;
  font-size: 1.7em;
  text-align: center;
}

.article__image {
  max-height: 60%;
  margin-bottom: 2%;
}

.article__information {
  font-size: 0.8em;
  margin-bottom: 2%;
}

.article__content {
  margin: 0 10%;
}
/* ==========================================================================
   Dashboard
   ========================================================================== */

.dashboard__wrapper {
  height: 80%;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;

  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
